
SERVER_PORT=8081
DATABASE_URL=jdbc:postgresql://localhost:5432/example_db
DATABASE_USERNAME=user
DATABASE_PASSWORD=password
DATABASE_SCHEMA=public
KEYCLOAK_ISSUER_URI=http://localhost:8080/realms/finance-app
KEYCLOAK_JWK_SET_URI=http://keycloak:8080/realms/finance-app/protocol/openid-connect/certs
