# Keycloak admin username
KEYCLOAK_ADMIN=your_admin

# Keycloak admin password
KEYCLOAK_ADMIN_PASSWORD=your_password

# Public Keycloak domain used behind reverse proxy
KEYCLOAK_DOMAIN=auth.example.com
